version: '3.9'

services:
  snowsignal:
    image: harbor.stfc.ac.uk/isis-accelerator-controls/snowsignal:dev
    environment:
      SERVICENAME: '{{.Service.Name}}'
      LOGLEVEL: 'debug'
    networks:
      - snowsignal-test
    deploy: 
      mode: global
      placement:
         max_replicas_per_node: 1

  probe:
    image: harbor.stfc.ac.uk/isis-accelerator-controls/internal-pvagw-tests
    networks:
      - snowsignal-test
    deploy: 
      mode: global
      placement:
         max_replicas_per_node: 1
    command: ["sleep", "infinity"]

networks:
  snowsignal-test:
    external: true
